{% extends "base.html" %}
{% load course %}
{% block title %}
Topic {{ topic.order|add:1}} : {{ topic.title }}
{% endblock title %}

{% block content %}
{% with course=topic.course %}
<h1> Course "{{ course.title }}"</h1>
<div class="contents">
    <h3>Topics</h3>
    <ul id="topics">
        {% for t in course.topics.all  %}
        <li data-id="{{ t.id }}" {% if t == topic %} class="selected"{% endif %}>
            <a href="{% url "topic_content_list" t.id %}">
                <span>
                    Topic <span class="order">{{ t.order|add:1}}</span>
                </span>
            </br>
            {{ t.title }}
            </a>
        </li>
        {% empty %}
        <li>No topics yet</li>
        {% endfor %}
    </ul>
    <p><a href="{% url "course_topic_update" course.id%}">Edit Topics</a></p>
</div>
<div class="topic">
    <h2>Topic {{ topic.order|add:1 }}: {{ topic.title }} </h2>
    <h3>Topic contents: </h3> 
    <div id="topic-contents">
        {% for content in topic.contents.all  %}
        <div data-id="{{ content.id }}">
            {% with item=content.item %}
            <p>{{ item }} ({{ item|model_name }})</p>
            <a href="{% url "topic_content_update" topic.id item|model_name item.id%}">Edit</a>
            <form action="{% url "topic_content_delete" content.id%}" method="post">
                <input type="submit" value="Delete">
                {% csrf_token %}
            </form>
            {% endwith %}
        </div>
        {% empty %}
        <p>This Topic has no contents yet.</p>
        {% endfor %}
    </div>
    <h3>Add new content</h3>
    <ul class="content-types">
        <li><a href="{% url "topic_content_create" topic.id "text"%}">Text</a></li>
        <li><a href="{% url "topic_content_create" topic.id "image"%}">Image</a></li>
        <li><a href="{% url "topic_content_create" topic.id "video"%}">Video</a></li>
        <li><a href="{% url "topic_content_create" topic.id "file"%}">File</a></li>
    </ul>
</div>
{% endwith %}
{% endblock content %}
{% block domready %}
$('#topics').sortable({
    stop: function(event, ui) {
        topics_order = {};
        $('#topics').children().each(function() {
            // update order field 
            $(this).find('.order').text($(this).index() + 1);
            // associate the topic's id with its order 
            topics_order[$(this).data('id')] = $(this).index();
        });
        $.ajax({
            type: 'POST',
            url: '{% url "topic_order" %}',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify(topics_order),
        });
    }
});
$('#topic-contents').sortable({
    stop: function(event, ui){
        contents_order = {};
        $('#topic-contents').children().each(function(){
            // associate the topic's id with its order
            contents_order[$(this).data('id')] = $(this).index();
        });
        $.ajax({
            type: 'POST',
            url: '{% url "content_order" %}',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify(contents_order),
        });
    }
})

{% endblock domready %}