{% load static %}
<!DOCTYPE html>
<html>
    <head> 
        <meta charset="utf-8" />
        <title>{% block title %}Infinity Hub{% endblock %}</title>
        <link href="{% static "css/base.css" %}" rel="stylesheet">
        <link href="{% static "css/form.css" %}" rel="stylesheet">
        {% block header %}{% endblock header %}
    </head>
    <body>
        <div id="header">
            <a href="/" class="logo"> Infinity Hub</a>
            <ul class="menu">
                {% if request.user.is_authenticated %}
                <li><a href="{% url "logout" %}">Sign out</a></li>
                {% else %}
                <li><a href="{% url "login" %}">Sign in</a></li>
                {% endif %}
            </ul>
        </div>
        <div id="content">
            {% block content %}
            {% endblock content %}
        </div>
        <footer>
            <div class="container">
                <div class="footer-left">
                    <p>© 2023 Infinity Hub</p>
                </div>
                <div class="footer-right">
                    <ul class="footer-menu">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        {% block scripts %}{% endblock scripts %}
    </body>
</html>